.container {
  width: auto;
  border-radius: 16px;
  margin: 20px;
  background-color: plum;
  padding: 8px;
}

.actorstable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-family: Courier New;
}

.deleteButton {
  font-family: Arial, sans-serif;
}

body {
  background-color: white;
}

h2 {
  font-family: 1.5em  Georgia , sans-serif;
}
p {
  font-family: 1em Arial;
}

thead{
  background-color: orchid;
  border: 1px solid purple;
  padding: 8px;
  text-align: left;
}

th, td {
  border: 1px solid purple;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: orchid;
}

tr:nth-child(odd) {
  background-color: pink;
}

tr:hover {
  background-color: orangered;
}
