.container {
  border-radius: 16px;
  margin: 20px;
  background-color: plum;
  padding: 8px;
  font-family: Arial, sans-serif;
}

.actorstable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.deleteButton {
  font-family: Arial, sans-serif;
}

body {
  background-color: white;
}

th, td {
  border: 1px solid purple;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: orchid;
}

tr:nth-child(odd) {
  background-color: pink;
}

tr:hover {
  background-color: orangered;
}
